.featureCard {
  position: relative;
  padding: 1.5rem 1.8rem;
  border-radius: 0.5rem;
  border: 1px solid #e0e0e0;
  background-color: var(--background);
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.featureCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--foreground);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.featureIcon {
  color: #007acc;
  font-size: 2rem;
  background-color: #e0e7ff;
  border-radius: 50%;
  padding: 0.7rem;
}

.featureTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: #222;
}

.featureDescription {
  color: #555;
  line-height: 1.5;
  font-size: 1rem;
}

.featureButton {
  background: linear-gradient(45deg, #733ce8, #01b1b1);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 1.3rem 0.5rem;
  border-radius: 8px;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.featureButton:hover {
  background: linear-gradient(45deg, #733ce8, #01b1b1) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}