.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  padding: 2rem;
  background-color: var(--background);
  color: var(--foreground);
  overflow-y: auto;
}
