.header {
  height: 64px;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoIcon {
  color: var(--primary);
}

.logoIcon:hover {
  transform: scale(1.15);
  transition: transform 0.2s ease-in-out;
}

.logoIcon:not(:hover) {
  transition: transform 0.2s ease-in-out;
}

.logoText {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--foreground);
}

.avatarContainer {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  background-color: var(--muted);
}

.expertButton {
  background-color: #0ca83b;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 1.1rem 1rem;
  transition: background-color 0.2s ease-in-out;
}

.expertButton:hover {
  background-color: #087c2b !important;
  color: #ffffff !important;
}
