.header {
  position: relative;
  height: 64px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-family: 'Satoshi', sans-serif;
}

.navButtons>button {
  display: inline-block;
  gap: 1rem;
  font-size: 1rem;
  font-family: 'Satoshi', sans-serif;
  font-weight: 600;
  color: #4f555e;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  transition: transform 0.3s ease-in-out;
}

.logoIcon:hover {
  transform: scale(1.15);
}

.logoText {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--foreground);
}

.avatarContainer {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  background-color: var(--muted);
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.expertButton {
  background-color: var(--whatsapp);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.expertButton:hover {
  background-color: #087c2b !important;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.expertButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(10, 200, 100, 0.5);
}